body {
    background-color: brown;
    color: white;
}

#b1 {
    color: aqua;
}

.heading {
    font-size: 22px;
    font-style: italic;
    width: 80%;
}

#camera {
    border: 2px dashed black;
    width: 350px;
    height: 300px;
}

.name_of_objects,
#result_object_name,
#result_object_accuracy {
    color: yellow;
}